// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** planta **/
  --ion-color-planta: #9bcc50;
  --ion-color-planta-rgb: 155,204,80;
  --ion-color-planta-contrast: #000000;
  --ion-color-planta-contrast-rgb: 0,0,0;
  --ion-color-planta-shade: #88b446;
  --ion-color-planta-tint: #a5d162;

  /** poison **/
  --ion-color-poison: #b97fc9;
  --ion-color-poison-rgb: 185,127,201;
  --ion-color-poison-contrast: #000000;
  --ion-color-poison-contrast-rgb: 0,0,0;
  --ion-color-poison-shade: #a370b1;
  --ion-color-poison-tint: #c08cce;

  /** blue **/
  --ion-color-blue: #51c4e7;
  --ion-color-blue-rgb: 81,196,231;
  --ion-color-blue-contrast: #000000;
  --ion-color-blue-contrast-rgb: 0,0,0;
  --ion-color-blue-shade: #47accb;
  --ion-color-blue-tint: #62cae9;

  /** rose **/
  --ion-color-rose: #fdb9e9;
  --ion-color-rose-rgb: 253,185,233;
  --ion-color-rose-contrast: #000000;
  --ion-color-rose-contrast-rgb: 0,0,0;
  --ion-color-rose-shade: #dfa3cd;
  --ion-color-rose-tint: #fdc0eb;

   /** voador **/
  --ion-color-voador: #linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%)3dc7ef;
  --ion-color-voador-rgb: 61,199,239;
  --ion-color-voador-contrast: #000000;
  --ion-color-voador-contrast-rgb: 0,0,0;
  --ion-color-voador-shade: #36afd2;
  --ion-color-voador-tint: #50cdf1;

}


.ion-color-planta {
  --ion-color-base: var(--ion-color-planta);
  --ion-color-base-rgb: var(--ion-color-planta-rgb);
  --ion-color-contrast: var(--ion-color-planta-contrast);
  --ion-color-contrast-rgb: var(--ion-color-planta-contrast-rgb);
  --ion-color-shade: var(--ion-color-planta-shade);
  --ion-color-tint: var(--ion-color-planta-tint);

} 

.ion-color-poison {
  --ion-color-base: var(--ion-color-poison);
  --ion-color-base-rgb: var(--ion-color-poison-rgb);
  --ion-color-contrast: var(--ion-color-poison-contrast);
  --ion-color-contrast-rgb: var(--ion-color-poison-contrast-rgb);
  --ion-color-shade: var(--ion-color-poison-shade);
  --ion-color-tint: var(--ion-color-poison-tint);
}
.ion-color-blue {
  --ion-color-base: var(--ion-color-blue);
  --ion-color-base-rgb: var(--ion-color-blue-rgb);
  --ion-color-contrast: var(--ion-color-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-blue-shade);
  --ion-color-tint: var(--ion-color-blue-tint);
}

.ion-color-rose {
  --ion-color-base: var(--ion-color-rose);
  --ion-color-base-rgb: var(--ion-color-rose-rgb);
  --ion-color-contrast: var(--ion-color-rose-contrast);
  --ion-color-contrast-rgb: var(--ion-color-rose-contrast-rgb);
  --ion-color-shade: var(--ion-color-rose-shade);
  --ion-color-tint: var(--ion-color-rose-tint);
}

.ion-color-voador {
  --ion-color-base: var(--ion-color-voador);
  --ion-color-base-rgb: var(--ion-color-voador-rgb);
  --ion-color-contrast: var(--ion-color-voador-contrast);
  --ion-color-contrast-rgb: var(--ion-color-voador-contrast-rgb);
  --ion-color-shade: var(--ion-color-voador-shade);
  --ion-color-tint: var(--ion-color-voador-tint);
}





