<ion-header translucent>
  <ion-toolbar color="tertiary">
    <ion-title>
      PokedexApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="dark">
  <ion-searchbar placeholder="Buscar Pokemon" color="medium">
  </ion-searchbar>

  <ion-item-sliding>
    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="success">001</ion-label>

      </ion-chip>
      <ion-label>
        <div>
          <h2>Bulbasaur</h2>
          <ion-badge color="success">Grass</ion-badge>
          <ion-badge color="tertiary">Poison</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png">
      </ion-thumbnail>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option (click)="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <ion-item-sliding>

    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="danger">004</ion-label>

      </ion-chip>
      <ion-label>
        <div>
          <h2>Charmander </h2>
          <ion-badge color="danger">Fire</ion-badge>
          <ion-badge color="danger"></ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option (click)="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <ion-item-sliding>

    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="secondary">007</ion-label>

      </ion-chip>
      <ion-label>
        <div>
          <h2>Squirtle </h2>
          <ion-badge color="secondary">Water</ion-badge>
          <ion-badge color="tertiary"></ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option (click)="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <ion-item-sliding>

    <ion-item color="dark">
      <ion-chip slot="start">
        <ion-label color="warning">025</ion-label>

      </ion-chip>

      <ion-label>
        <div>
          <h2>Pikachu</h2>
          <ion-badge color="warning">Eletric</ion-badge>
          <ion-badge color="tertiary"></ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png">
      </ion-thumbnail>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="warning">Alterar</ion-item-option>
      <ion-item-option (click)="danger">Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

<ion-item-sliding>

  <ion-item color="dark">
    <ion-chip slot="start">
      <ion-label color="poison">078</ion-label>

    </ion-chip>

    <ion-label>
      <div>
        <h2>Rapidash</h2>
        <ion-badge color="poison">Fire</ion-badge>
        <ion-badge color="tertiary"></ion-badge>
      </div>
    </ion-label>

    <ion-thumbnail slot="end">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/078.png">
    </ion-thumbnail>
  </ion-item>
  <ion-item-options side="end">
    <ion-item-option color="warning">Alterar</ion-item-option>
    <ion-item-option (click)="danger">Excluir</ion-item-option>
  </ion-item-options>
</ion-item-sliding>

<ion-item-sliding>

  <ion-item color="dark">
    <ion-chip slot="start">
      <ion-label color="Water">121</ion-label>

    </ion-chip>

    <ion-label>
      <div>
        <h2>Starmie</h2>
        <ion-badge color="blue">Water </ion-badge>
        <ion-badge color="pink">Psychic</ion-badge>
      </div>
    </ion-label>

    <ion-thumbnail slot="end">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/121.png">
    </ion-thumbnail>
  </ion-item>
  <ion-item-options side="end">
    <ion-item-option color="warning">Alterar</ion-item-option>
    <ion-item-option (click)="danger">Excluir</ion-item-option>
  </ion-item-options>
</ion-item-sliding>

<ion-item-sliding>

  <ion-item color="dark">
    <ion-chip slot="start">
      <ion-label color="medium">150</ion-label>

    </ion-chip>

    <ion-label>
      <div>
        <h2>Mewtwo</h2>
        <ion-badge color="medium">Psychic</ion-badge>
      </div>
    </ion-label>

    <ion-thumbnail slot="end">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/150.png">
    </ion-thumbnail>
  </ion-item>
  <ion-item-options side="end">
    <ion-item-option color="warning">Alterar</ion-item-option>
    <ion-item-option (click)="danger">Excluir</ion-item-option>
  </ion-item-options>
</ion-item-sliding>

<ion-item-sliding>

  <ion-item color="dark">
    <ion-chip slot="start">
      <ion-label color="medium">180</ion-label>

    </ion-chip>

    <ion-label>
      <div>
        <h2>Flaaffy</h2>
        <ion-badge color="warning">Eletric</ion-badge>
      </div>
    </ion-label>

    <ion-thumbnail slot="end">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/180.png">
    </ion-thumbnail>
  </ion-item>
  <ion-item-options side="end">
    <ion-item-option color="warning">Alterar</ion-item-option>
    <ion-item-option (click)="danger">Excluir</ion-item-option>
  </ion-item-options>
</ion-item-sliding>

<ion-item-sliding>

  <ion-item color="dark">
    <ion-chip slot="start">
      <ion-label color="medium">184</ion-label>

    </ion-chip>

    <ion-label>
      <div>
        <h2>Azumarill</h2>
        <ion-badge color="blue">Water</ion-badge>
        <ion-badge color="rose">Fairy</ion-badge>
      </div>
    </ion-label>

    <ion-thumbnail slot="end">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/184.png">
    </ion-thumbnail>
  </ion-item>
  <ion-item-options side="end">
    <ion-item-option color="warning">Alterar</ion-item-option>
    <ion-item-option (click)="danger">Excluir</ion-item-option>
  </ion-item-options>
</ion-item-sliding>
<ion-item-sliding>

  <ion-item color="dark">
    <ion-chip slot="start">
      <ion-label color="medium">187</ion-label>

    </ion-chip>

    <ion-label>
      <div>
        <h2>Hoppip </h2>
        <ion-badge color="planta">Grass</ion-badge>
        <ion-badge color="voador">Flying</ion-badge>
      </div>
    </ion-label>

    <ion-thumbnail slot="end">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/187.png">
    </ion-thumbnail>
  </ion-item>
  <ion-item-options side="end">
    <ion-item-option color="warning">Alterar</ion-item-option>
    <ion-item-option (click)="danger">Excluir</ion-item-option>
  </ion-item-options>
</ion-item-sliding>
  

  







</ion-content>